    

    nav{
        display: flex;
        justify-content:flex-end;
        gap: 30px;
        background-color: rgb(77, 79, 182);
        color: aliceblue;
        padding: 5px;

    }

    nav div{
        display: flex;
        justify-content: center;
        justify-content: center;   
    }

    nav div span{
        font-size: 20px;
    }

    #help{
        margin-right: 30px;
    }

